<% provide(:title, 'About me')%>
<html>
<body>
<h1>About me</h1>
<p>
	My name is Min Li, I am working for Morgan Stanley.
	I am also a runner, so I developped iTrack to track my daily workout activity.
	My dream is run UTMB
</p>
</body>
</html>